{% extends 'rango/base.html' %}

{% block title_block %}
Password Change
{% endblock%}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container-fluid">
        <h1 class="jumbotron-heading">Change your password here</h1>
        <div>
            <h2 class="h2">
                howdy {{ user.username }}!
            </h2>
        </div>
        <form method="post" action=".">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>


{% endblock %}