{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container-fluid">
        <h1 class="jumbotron-heading">About Rango</h1>
    </div>
</div>
<div>
    <p>Visits: {{ visits }}</p>
    here is the about page. <br/>
    <strong>this website has been put together by {{ boldmessage }}.</strong><br/>
</div>
<div>
    <button class="btn btn-primary"
        onclick="alert('You clicked the button using inline JavaScript.');">
    Click me - I run on vanilla JavaScript!
</button>
</div><br>
<div>
    <button class="btn btn-primary" id="about-btn">
        Click me - I'm using JQuery!
    </button>
</div><br>
<p id="para_id">
    This is some text for the JQuery example.
</p>
<div id="msg">Hello! I'm a further example for JQuery testing.</div>
<div>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
</div>
<div>
    <img src="{{ MEDIA_URL }}cat.jpeg"
         alt="Picture of Dog"/>
</div>

{% endblock %}