{% extends 'rango/base.html' %}
{% load static %}
{% load rango_template_tags %}

{% block body_block %}
{% if category %}
<div class="jumbotron p-4">
    <div class="container-fluid">
        <h1 class="jumbotron-heading">{{ category.name }}</h1>
        <div>
            <strong id="like_count">{{ category.likes }}</strong> likes
            {% if user.is_authenticated %}
            <button id="like_btn" data-categoryid="{{ category.id }}" class="btn btn-primary btn-sm" type="button">
                <span data-feather="thumbs-up"></span>
                Like Category
            </button>
            {% endif %}
        </div>
    </div>
</div>
<div>
    <div id="list_pages">
        {% get_pages_list category.id %}
    </div>

    {% if user.is_authenticated %}
        <div>
            <p><strong>You don't find the page you need? Here, search the web for it.</strong></p>
            <form class="form-inline" id="user-form" method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" size="50" name="query" id="query_id"
                           value="{{ query }}">
                    <button class="btn btn-primary" type="submit" name="submit">
                    Search
                    </button>
                </div>
            </form>
        </div>
        <div>
            {% if result_list %}
                <br>
                <h2>Results</h2>
                <div class="list-group">
                    {% for result in result_list %}
                        <div class="list-group-item">
                            <h3 class="list-group-item-heading">
                                <a href="{{ result.link }}">
                                    {{ result.title|safe|escape }}
                                </a>
                                <a type="button" class="btn btn-info btn-sm search-page-add"
                                   data-url="{{ result.link }}"
                                   data-title="{{ result.title }}"
                                   data-categoryid="{{ category.id }}">Add</a>
                            </h3>
                            <p class="list-item-group-text">
                                {{ result.summary|safe|escape }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% else %}
The specific category does not exist.
{% endif %}
{% endblock %}